
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

<div class="container">


    <div class="logo">KtabyNet</div>
    <div class="links">
        <a href="" class="link">Homepage</a>
        <a href="" class="link">Contact</a>
        <a href="" class="link">About</a>
        {# AuthLinks might be included here based on your Symfony setup and requirements #}
    </div>

</div>