{% extends "./adminbase.html.twig" %}


{% block mainContent %}

<div id="result"></div>
<button id="startButton">Démarrer la reconnaissance vocale</button>
<script>
    // Vérifier si l'API de reconnaissance vocale est prise en charge par le navigateur
    if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window) {
        // Créer un objet de reconnaissance vocale
        var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();

        // Définir la langue de reconnaissance vocale
        recognition.lang = 'fr-FR';

        // Définir le mode de reconnaissance continue
        recognition.continuous = true;

        // Tableau pour stocker les valeurs
        var values = [];

        // Événement déclenché lorsqu'un résultat vocal est détecté
        recognition.onresult = function(event) {
            var transcriptions = Array.from(event.results)
                .map(result => result[0].transcript.toLowerCase());

            console.log('Résultats de la reconnaissance vocale :', transcriptions);
            

            // Ajouter les nouvelles valeurs au tableau
            values = values.concat(transcriptions);
	
			processUserRequest(transcriptions);

            // Afficher les valeurs dans un élément HTML (facultatif)
            document.getElementById('results').innerText = 'Valeurs : ' + values.join(', ');
        };

        // Événement déclenché lorsqu'il y a une erreur dans la reconnaissance vocale
        recognition.onerror = function(event) {
            console.error('Erreur de reconnaissance vocale :', event.error);
        };

        // Associer l'événement de démarrage de la reconnaissance vocale au bouton
        document.getElementById('startButton').addEventListener('click', function() {
            // Démarrer la reconnaissance vocale
            recognition.start();
        });
		 // Fonction pour traiter la demande de l'utilisateur
        function processUserRequest(request) {
            // Environnement fictif - utilisez une vraie bibliothèque ou API de NLP dans un environnement de production
            var response = fakeNlpProcessing(request);

            // Afficher la réponse dans un élément HTML (facultatif)
            document.getElementById('results').innerText = 'Réponse : ' + response;
            document.getElementById('result').innerText = 'Réponse : ' + response;
        }

        // Fonction fictive pour le traitement du langage naturel (remplacez par une vraie solution)
        function fakeNlpProcessing(request) {
            // Logique fictive pour déterminer la réponse
			console.log('frfr');
            if (request.includes('synonyme')) {
                return 'Le synonyme est une réponse fictive.';
            } else if (request.includes('définition')) {
                return 'La définition est une réponse fictive.';
            } else {
                return 'Je ne comprends pas la demande.';
            }
        }


    } else {
        alert("L'API de reconnaissance vocale n'est pas prise en charge par votre navigateur.");
    }
</script>

<div id="results"></div>
<div id="result"></div>




	<div style="overflow: auto; height:93vh ;padding: 0 50px; width: 100%;">		
		{# Cards---------------------------------------------------------------------- #}
		{# Cards---------------------------------------------------------------------- #}
			<div class="content  mt-5 mb-4" > 
				<div
					class="content" style="display: flex; justify-content: space-between;  height: 100px; color: whiteSmoke; font-size: 18px; border-radius: 15px;">
					<!-- Contenu de la row -->


					<div class="col-2 bg-primary ml-5 pt-3" style="border-radius: 5px;">
						<p style="font-weight: bolder; margin-bottom: 0; padding-left:10px;">Nombre de livre pdf:</p>
						<hr style="height: 3px; margin: 5px 10px;">
						<p class="text-center" style="font-weight:bold; font-size:20px;">404</p>
					</div>
					<div class="col-2 bg-success pt-3" style="border-radius: 5px;">
						<p style="font-weight: bolder; margin-bottom: 0; padding-left:10px;">Nombre de livre reel:</p>
						<hr style="height: 3px; margin: 5px 10px;">
						<p class="text-center" style="font-weight:bold; font-size:20px;">500</p>
					</div>
					<div class="col-2 bg-warning pt-3" style="border-radius: 5px;">
						<p style="font-weight: bolder; margin-bottom: 0; padding-left:10px;">Nombre de commande:</p>
						<hr style="height: 3px; margin: 5px 10px;">
						<p class="text-center" style="font-weight:bold; font-size:20px;">403</p>
					</div>
					<div class="col-2 bg-danger pt-3" style="border-radius: 5px;">
						<p style="font-weight: bolder; margin-bottom: 0; padding-left:10px;">Nombre de client:</p>
						<hr style="height: 3px; margin: 5px 10px;">
						<p class="text-center" style="font-weight:bold; font-size:20px;">401</p>
					</div>
				</div>
			</div>
		

		{# Charts---------------------------------------------------------------------- #}
		{# Charts---------------------------------------------------------------------- #}



	<div class="content mt-5"  id="myChartContainer" data-chart-data="{{ data | json_encode | e }}">
	{# Linge 1 #}
		<div class="row">
		{# Charte 1 #}
			<div class="col-md-6">
				<div class="card">
					<div class="card-header text-center" style="font-weight: bolder;">
						Livre reel
					</div>
					<div class="card-body">
						<canvas id="myChart1"></canvas>
					</div>
				</div>
			</div>
		{# Charte 2 #}
			<div class="col-md-6">
				<div class="card">
					<div class="card-header text-center" style="font-weight: bolder;">
						Livre PDF
					</div>
					<div class="card-body">
						<canvas id="myChart2"></canvas>
					</div>
				</div>
			</div>
		</div>


	{# Linge 2 #}
		<div class="row mt-4" style="max-height:100vh">
		{# left side #}

			<div class="col-md-6"  style="max-height:100vh">
				{# Charte 1 #}
				<div class="card">
					<div class="card-header text-center" style="font-weight: bolder;">
						Commandes
					</div>
					<div class="card-body">
						<canvas id="myChart3"></canvas>
					</div>
				</div>
				{# Charte 2 #}
				<div class="card mt-5">
					<div class="card-header text-center" style="font-weight: bolder;">
						Livre/Catégorie
					</div>
					<div class="card-body">
						<canvas id="myChart4"></canvas>
					</div>
				</div>
			</div>
			
			{# right side #}
			<div class="col-md-6">
				<div class="card">
					<div class="card-header text-center" style="font-weight: bolder;">
					?????????????
					</div>
					<div class="card-body">
						<canvas id="myChart5"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
		{# Livre reel------------------------------------------------ #}
		{# Livre reel------------------------------------------------ #}
		{# Livre reel------------------------------------------------ #}

		<div class="card ml-5 mr-5 " style="margin-top: 50px"> 
			<div class="card-header" style="font-weight: bolder;">
						Livre reel
			</div>
			<div class="card-body">
				<table class="table caption-top">

					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nom</th>
							<th scope="col">Descritption</th>
							<th scope="col">Nom Auteur</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer text-muted"></div>
		</div>

		{# Livre pdf------------------------------------------------ #}
		{# Livre pdf------------------------------------------------ #}
		{# Livre pdf------------------------------------------------ #}

		<div class="card ml-5 mr-5 " style="margin-top: 50px"> 
			<div class="card-header" style="font-weight: bolder;">
				Livre reel
			</div>
			<div class="card-body">
				<table class="table caption-top">

					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nom</th>
							<th scope="col">Descritption</th>
							<th scope="col">Nom Auteur</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer text-muted"></div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
