{% extends "./adminbase.html.twig" %}

{% block title %} Stock {% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block javascripts %}
    
{% endblock %}

{% block mainContent %}
    <div>
        {{ include('Stock/formulaire.html.twig') }}
    </div>
{% endblock %}
