{% extends "./AdminBase.html.twig" %}





    
    {% block mainContent %}
    <div class="container ml-5 mt-5">
        <h1>Contenu personnalisé</h1>
    <p>Ce contenu est spécifique àqsdqsd cette page.</p></div>


{% endblock %}

